body {
background-color: #90C1F5
}

h1 {
font-family: Arial;
color: #000000;
text-align: center;
}

h2 {
font-family: Arial;
color: #000000;
text-align: center;
}

h3 {
font-family: Arial;
color: #FFF0F3;
text-align: left;
}

h4 {
font-family: Arial;
color: #FFF0F3;
text-align: left;
}

h5 {
font-family: Arial;
color: #FFF0F3;
text-align: left;
}
